/* default css element configurations */
* {
    box-sizing: content-box;
}
html {
    font-size: 100%;
}
html, body {
    padding: 5px;
    margin: 5px;
    display: block;

    font-family: var(--def-font);
    font-weight: 300;
}
ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul > li {
    font-size: var(--def-fs);
}
a {
    text-decoration: none;
    color: rgba(0 0 0 / .8);
    padding: var(--def-padding);
    font-size: var(--def-fs);
    text-align: center;
    line-height: 0;
    border: 1px solid rgba(0 0 0 / .8);
}
button {
    background: rgba(0 0 0 / .8);
    color: white;
    border: none;
    padding: var(--def-padding);
    font-size: var(--def-fs);
    cursor: pointer;
}